html{
	font-family: Helvetica, Arial, Sans-Serif;
}

html, body{
	background-color: DimGray ;
	height: 100%;
	margin: 0;
	padding: 0;
}

.banner{
	position: fixed;
	background-color: gold;
	font-size: 1em;
	text-align: center;
	font-family: monospace;
	color: brown;
	width: 100%;
	left: 0;
}

#leaderboard{
	position: absolute;
	top: 1em;
	left: 0;
	height: 6vh;
	width: 100%;
	text-align: justify;
}

#leaderboard ul{
	display: table;
	position: relative;
	list-style: none;
	text-align: center;
	margin: auto;
	width: 100%;
	padding: 0;
}

#leaderboard ul li{
	display: table-cell;
	text-align: center;
	width: 25%;
}

#emberianPlayer{
	background-color: #92282D;
}

#emberianPlayer:hover{
	background-color: #B73339;
}

#cloudbornPlayer{
	background-color: #B18028;
}

#cloudbornPlayer:hover{
	background-color: #DEA033;
}

#barfolkPlayer{
	background-color: #48663C;
}

#barfolkPlayer:hover{
	background-color: #5b804c;
}

#islanderPlayer{
	background-color: #406A76;
}

#islanderPlayer:hover{
	background-color: #518594;
}

#emberianPlayer, #cloudbornPlayer, #barfolkPlayer, #islanderPlayer{
	cursor: pointer;
	text-align: left;
	color: white;
	line-height: 6vh;
	white-space: nowrap;
	transition-property: background-color;
    transition-duration: 0.1s;
    transition-timing-function: ease-in;
}

#emberianPlayer p, #cloudbornPlayer p, #barfolkPlayer p, #islanderPlayer p{
	padding: 0;
	margin: 0;
}

#emberianPlayer img, #cloudbornPlayer img, #barfolkPlayer img, #islanderPlayer img{
	float: left;
	height: 4vh;
	width: 4vh;
	margin-left: 5px;
	margin-right: 10px;
	margin-top: 1vh;
	margin-bottom: 1vh;
	border-radius: 50%;
	border: 2px solid white;
	line-height: 8vh;
}

.playerScore{
	float: right;
	display: inline-block;
	margin-right: 10px;
	font-size: 2em;
	font-weight: bold;
}

#playArea{
  position: absolute;
  top: calc(6vh + 1em);
  left: 0;
  height: 80vh;
  width: 100%;
  line-width: 72vh;
}

#actionLine{
	position: absolute;
	bottom: 1vh;
	left: 0;
	height: 13vh;
	width: 98%;
	margin-left: 1%;
	border: 2px dashed lightgray;
}

#actionLine ul{
	text-align: center;
}

#actionLine ul li{
	cursor: pointer;
	display: inline-block;
	width: 10vh;
	height: 10vh;
	margin-left: 2px;
	margin-right: 2px;
	margin-top: 1vh;
}

#board{
	float: left;
	height: 63vh;
	width: 63vh;
	margin-left: 1vh;
	margin-top: 1vh;
	margin-bottom: 1vh;
	font-size: 0;
	background-image: url("http://www.nickmacholl.com/webattalia/svg/gameboard.svg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#board ul{
	list-style: none;
	padding: 0;
}

#board ul li{
	cursor: pointer;
	display: inline-block;
	width: 9vh;
	height: 9vh;
	box-sizing: border-box;
	border: 2px solid dimgray;
}

#market{
	display: block;
	background-color: gold;
	height: 36vh;
	margin-top: 1vh;
	margin-left: 65vh;
	margin-right: 1vh;
}

#build{
	display: block;
	background-color: violet;
	height: 12vh;
	margin-top: 1vh;
	margin-left: 65vh;
	margin-right: 1vh;
}

#storage{
	display: block;
	background-color: purple;
	height: 13vh;
	margin-top: 1vh;
	margin-left: 65vh;
	margin-right: 1vh;
}

#playerArea{
	position: absolute;
	bottom: 1em;
	left: 0;
	height: 10vh;
	width: 100%;
	background-color: darkgray;
	border-top: 5px solid darkgray;
}	

#playerHand{
	display: inline-block;
	position: relative;
	text-align: center;
	margin: auto;
	width: 50%;
	height: 10vh;
	padding: 0;
	background-color: lightgray;
}

#playerHand ul, #actionLine ul{
	margin: 0;
	padding: 0;
}

#playerHand ul li{
	cursor: pointer;
	display: inline-block;
	width: 10vh;
	height: 10vh;
	margin-top: -3vh;
	margin-left: 2px;
	margin-right: 2px;
}

#playerHand ul li img, #actionLine ul li img{
	pointer-events: none;
	max-height: 100%;
	max-width: 100%;
}

#playerHand ul #emptyHand{
	display: none;
	cursor: default;
	color: darkgray;
	font-weight: bold;
	width: 100%;
	font-size: 1.5em;
	line-height: 10vh;
}

#playerShelter, #playerNation{
	float: left;
	background-color: dimgray;
	text-align: center;
	width: 8vh;
	height: 8vh;
	margin-right: 15px;
	margin-top: 1vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 5%;
}

#playerShelter{
	margin-left: 15px;
	background-image: url("http://www.nickmacholl.com/webattalia/svg/shelter.svg");
}

#playerNation{
	background-image: url("http://www.nickmacholl.com/webattalia/svg/nation.svg");
}